In [15]:
import pandas as pd
import plotly.express as px
import hvplot.pandas
from sklearn.cluster import KMeans

In [16]:
file_path = "basins.csv"
basins_df = pd.read_csv(file_path, index_col=False)
basins_df.head()

,facility_id,facility_name,city,state,zip_code,latitude,longitude,primary_naics_code,industry_type_subpart,total_emissions_2020,...,total_emissions_2018,total_emissions_2017,total_emissions_2016,total_emissions_2015,total_emissions_2014,total_emissions_2013,total_emissions_2012,total_emissions_2011,basin_num,basin_name
0,1000355,#540 BONANZA CREEK ENERGY - DENVER BASIN,Denver,CO,80202,39.744310,-104.98858,211120,W-ONSH,293919.042,...,273069.722,242958.734,261382.840,354850.700,243116.642,163013.800,151519.070,17728.250,540,Denver Basin
1,1009238,220 Gulf Coast Basin DEC,Oklahoma City,OK,73102,35.466697,-97.51453,211120,W-ONSH,586008.596,...,811064.850,767413.320,808767.966,747874.260,171273.574,63896.146,94675.778,148424.596,220,"Gulf Coast Basin (LA, TX)"
2,1009170,260 East Texas Basin - BP America Production C...,Houston,TX,77079,29.780370,-95.62950,211130,W-ONSH,23735.104,...,97345.036,67155.314,43942.410,42528.246,52433.886,62617.866,34844.106,40809.110,260,East Texas Basin
3,1009265,360 Anadarko Basin,Oklahoma City,OK,73142,35.567190,-97.49827,211120,W-ONSH,124278.886,...,253819.352,136681.234,311050.436,328260.992,258855.004,188100.356,206799.244,243416.194,360,Anadarko Basin
4,1008287,360 Anadarko Basin DEC,Oklahoma City,OK,73102,35.466697,-97.51453,211120,W-ONSH,319410.352,...,447672.782,406376.586,252802.366,353194.722,381235.414,357671.756,396990.192,392734.616,360,Anadarko Basin

In [17]:
basins_df.columns

Index(['facility_id', 'facility_name', 'city', 'state', 'zip_code', 'latitude',
       'longitude', 'primary_naics_code', 'industry_type_subpart',
       'total_emissions_2020', 'total_emissions_2019', 'total_emissions_2018',
       'total_emissions_2017', 'total_emissions_2016', 'total_emissions_2015',
       'total_emissions_2014', 'total_emissions_2013', 'total_emissions_2012',
       'total_emissions_2011', 'basin_num', 'basin_name'],
      dtype='object')

In [18]:
#specify the columns to sum
cols = ['total_emissions_2020', 'total_emissions_2019', 'total_emissions_2018',
       'total_emissions_2017', 'total_emissions_2016', 'total_emissions_2015',
       'total_emissions_2014', 'total_emissions_2013', 'total_emissions_2012',
       'total_emissions_2011']
# basins_df[cols]
# #define new column that contains sum of specific columns
basins_df["total_emissions"] = basins_df[cols].sum(axis=1)

# #view updated DataFrame
basins_df

,facility_id,facility_name,city,state,zip_code,latitude,longitude,primary_naics_code,industry_type_subpart,total_emissions_2020,...,total_emissions_2017,total_emissions_2016,total_emissions_2015,total_emissions_2014,total_emissions_2013,total_emissions_2012,total_emissions_2011,basin_num,basin_name,total_emissions
0,1000355,#540 BONANZA CREEK ENERGY - DENVER BASIN,Denver,CO,80202,39.744310,-104.988580,211120,W-ONSH,293919.0420,...,242958.7340,261382.8400,354850.700,243116.642,163013.800,151519.070,17728.250,540,Denver Basin,2.332497e+06
1,1009238,220 Gulf Coast Basin DEC,Oklahoma City,OK,73102,35.466697,-97.514530,211120,W-ONSH,586008.5960,...,767413.3200,808767.9660,747874.260,171273.574,63896.146,94675.778,148424.596,220,"Gulf Coast Basin (LA, TX)",4.878332e+06
2,1009170,260 East Texas Basin - BP America Production C...,Houston,TX,77079,29.780370,-95.629500,211130,W-ONSH,23735.1040,...,67155.3140,43942.4100,42528.246,52433.886,62617.866,34844.106,40809.110,260,East Texas Basin,5.423521e+05
3,1009265,360 Anadarko Basin,Oklahoma City,OK,73142,35.567190,-97.498270,211120,W-ONSH,124278.8860,...,136681.2340,311050.4360,328260.992,258855.004,188100.356,206799.244,243416.194,360,Anadarko Basin,2.267226e+06
4,1008287,360 Anadarko Basin DEC,Oklahoma City,OK,73102,35.466697,-97.514530,211120,W-ONSH,319410.3520,...,406376.5860,252802.3660,353194.722,381235.414,357671.756,396990.192,392734.616,360,Anadarko Basin,3.664998e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,1008275,XTO Energy Inc 395 Williston,Englewood,CO,80112,39.550680,-104.865840,211130,W-ONSH,696920.5961,...,759815.2132,897826.8100,1113420.680,1106020.808,565682.646,434763.302,100287.562,395,Williston Basin,8.493727e+06
201,1009387,XTO Energy Inc 415 Strawn,Fort Worth,TX,76164,32.778500,-97.357058,211130,W-ONSH,508575.4928,...,368705.9262,299317.8140,458065.976,475712.380,538068.374,466198.708,243355.964,415,Strawn Basin,4.441302e+06
202,1009388,XTO Energy Inc 420 Fort Worth Syncline,Fort Worth,TX,76164,32.778500,-97.357058,211130,W-ONSH,78347.1629,...,52289.4046,50198.5748,65402.076,74580.174,83541.102,66927.690,53484.864,420,Fort Worth Syncline,6.811404e+05
203,1009390,XTO Energy Inc 430 Permian,Midland,TX,79701,31.991601,-102.083254,211130,W-ONSH,726425.0784,...,647170.1003,485280.7290,544433.098,335163.146,262364.680,276265.484,132785.162,430,Permian Basin,7.033060e+06
204,1008078,XTO Energy Inc 507 Central Western Overthrust,Englewood,CO,80112,39.550680,-104.865840,211130,W-ONSH,48260.8539,...,56806.5062,58233.9920,60247.942,66978.232,71244.974,43612.148,35205.450,507,Central Western Overthrust,5.491207e+05

In [19]:
# add column that contains average of specific columns
basins_df["avg_emissions"] = basins_df[cols].mean(axis=1)
basins_df

,facility_id,facility_name,city,state,zip_code,latitude,longitude,primary_naics_code,industry_type_subpart,total_emissions_2020,...,total_emissions_2016,total_emissions_2015,total_emissions_2014,total_emissions_2013,total_emissions_2012,total_emissions_2011,basin_num,basin_name,total_emissions,avg_emissions
0,1000355,#540 BONANZA CREEK ENERGY - DENVER BASIN,Denver,CO,80202,39.744310,-104.988580,211120,W-ONSH,293919.0420,...,261382.8400,354850.700,243116.642,163013.800,151519.070,17728.250,540,Denver Basin,2.332497e+06,233249.65200
1,1009238,220 Gulf Coast Basin DEC,Oklahoma City,OK,73102,35.466697,-97.514530,211120,W-ONSH,586008.5960,...,808767.9660,747874.260,171273.574,63896.146,94675.778,148424.596,220,"Gulf Coast Basin (LA, TX)",4.878332e+06,487833.21660
2,1009170,260 East Texas Basin - BP America Production C...,Houston,TX,77079,29.780370,-95.629500,211130,W-ONSH,23735.1040,...,43942.4100,42528.246,52433.886,62617.866,34844.106,40809.110,260,East Texas Basin,5.423521e+05,54235.21200
3,1009265,360 Anadarko Basin,Oklahoma City,OK,73142,35.567190,-97.498270,211120,W-ONSH,124278.8860,...,311050.4360,328260.992,258855.004,188100.356,206799.244,243416.194,360,Anadarko Basin,2.267226e+06,226722.60020
4,1008287,360 Anadarko Basin DEC,Oklahoma City,OK,73102,35.466697,-97.514530,211120,W-ONSH,319410.3520,...,252802.3660,353194.722,381235.414,357671.756,396990.192,392734.616,360,Anadarko Basin,3.664998e+06,366499.78040
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,1008275,XTO Energy Inc 395 Williston,Englewood,CO,80112,39.550680,-104.865840,211130,W-ONSH,696920.5961,...,897826.8100,1113420.680,1106020.808,565682.646,434763.302,100287.562,395,Williston Basin,8.493727e+06,849372.68666
201,1009387,XTO Energy Inc 415 Strawn,Fort Worth,TX,76164,32.778500,-97.357058,211130,W-ONSH,508575.4928,...,299317.8140,458065.976,475712.380,538068.374,466198.708,243355.964,415,Strawn Basin,4.441302e+06,444130.21806
202,1009388,XTO Energy Inc 420 Fort Worth Syncline,Fort Worth,TX,76164,32.778500,-97.357058,211130,W-ONSH,78347.1629,...,50198.5748,65402.076,74580.174,83541.102,66927.690,53484.864,420,Fort Worth Syncline,6.811404e+05,68114.04038
203,1009390,XTO Energy Inc 430 Permian,Midland,TX,79701,31.991601,-102.083254,211130,W-ONSH,726425.0784,...,485280.7290,544433.098,335163.146,262364.680,276265.484,132785.162,430,Permian Basin,7.033060e+06,703305.98042
204,1008078,XTO Energy Inc 507 Central Western Overthrust,Englewood,CO,80112,39.550680,-104.865840,211130,W-ONSH,48260.8539,...,58233.9920,60247.942,66978.232,71244.974,43612.148,35205.450,507,Central Western Overthrust,5.491207e+05,54912.07094

In [20]:
basins_df = basins_df[['industry_type_subpart', 'total_emissions_2020', 'total_emissions_2019', 'total_emissions_2018',
       'total_emissions_2017', 'total_emissions_2016', 'total_emissions_2015',
       'total_emissions_2014', 'total_emissions_2013', 'total_emissions_2012',
       'total_emissions_2011', 'total_emissions', 'avg_emissions']]
basins_df

,industry_type_subpart,total_emissions_2020,total_emissions_2019,total_emissions_2018,total_emissions_2017,total_emissions_2016,total_emissions_2015,total_emissions_2014,total_emissions_2013,total_emissions_2012,total_emissions_2011,total_emissions,avg_emissions
0,W-ONSH,293919.0420,3.309377e+05,2.730697e+05,242958.7340,261382.8400,354850.700,243116.642,163013.800,151519.070,17728.250,2.332497e+06,233249.65200
1,W-ONSH,586008.5960,6.789331e+05,8.110648e+05,767413.3200,808767.9660,747874.260,171273.574,63896.146,94675.778,148424.596,4.878332e+06,487833.21660
2,W-ONSH,23735.1040,7.694104e+04,9.734504e+04,67155.3140,43942.4100,42528.246,52433.886,62617.866,34844.106,40809.110,5.423521e+05,54235.21200
3,W-ONSH,124278.8860,2.159643e+05,2.538194e+05,136681.2340,311050.4360,328260.992,258855.004,188100.356,206799.244,243416.194,2.267226e+06,226722.60020
4,W-ONSH,319410.3520,3.569090e+05,4.476728e+05,406376.5860,252802.3660,353194.722,381235.414,357671.756,396990.192,392734.616,3.664998e+06,366499.78040
...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,W-ONSH,696920.5961,1.770530e+06,1.048460e+06,759815.2132,897826.8100,1113420.680,1106020.808,565682.646,434763.302,100287.562,8.493727e+06,849372.68666
201,W-ONSH,508575.4928,5.328228e+05,5.504788e+05,368705.9262,299317.8140,458065.976,475712.380,538068.374,466198.708,243355.964,4.441302e+06,444130.21806
202,W-ONSH,78347.1629,7.793444e+04,7.843492e+04,52289.4046,50198.5748,65402.076,74580.174,83541.102,66927.690,53484.864,6.811404e+05,68114.04038
203,W-ONSH,726425.0784,1.990272e+06,1.632900e+06,647170.1003,485280.7290,544433.098,335163.146,262364.680,276265.484,132785.162,7.033060e+06,703305.98042
204,W-ONSH,48260.8539,5.439887e+04,5.413175e+04,56806.5062,58233.9920,60247.942,66978.232,71244.974,43612.148,35205.450,5.491207e+05,54912.07094

In [21]:
basins_df = basins_df[['industry_type_subpart', 'avg_emissions']]
basins_df

    industry_type_subpart  avg_emissions
0                  W-ONSH   233249.65200
1                  W-ONSH   487833.21660
2                  W-ONSH    54235.21200
3                  W-ONSH   226722.60020
4                  W-ONSH   366499.78040
..                    ...            ...
200                W-ONSH   849372.68666
201                W-ONSH   444130.21806
202                W-ONSH    68114.04038
203                W-ONSH   703305.98042
204                W-ONSH    54912.07094

[205 rows x 2 columns]

In [22]:
industry_counts = basins_df.industry_type_subpart.value_counts()
industry_counts

W-ONSH       201
UU,W-ONSH      3
C,W-ONSH       1
Name: industry_type_subpart, dtype: int64

In [24]:
#perform data binning on points variable
basins_df['emissions_bin'] = pd.qcut(basins_df['avg_emissions'], q=3)

C:\Users\Owner\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [25]:
basins_df

    industry_type_subpart  avg_emissions              emissions_bin
0                  W-ONSH   233249.65200    (102890.58, 285271.891]
1                  W-ONSH   487833.21660  (285271.891, 3787999.955]
2                  W-ONSH    54235.21200     (24451.321, 102890.58]
3                  W-ONSH   226722.60020    (102890.58, 285271.891]
4                  W-ONSH   366499.78040  (285271.891, 3787999.955]
..                    ...            ...                        ...
200                W-ONSH   849372.68666  (285271.891, 3787999.955]
201                W-ONSH   444130.21806  (285271.891, 3787999.955]
202                W-ONSH    68114.04038     (24451.321, 102890.58]
203                W-ONSH   703305.98042  (285271.891, 3787999.955]
204                W-ONSH    54912.07094     (24451.321, 102890.58]

[205 rows x 3 columns]

In [26]:
basins_df['emissions_bin'].value_counts()

(24451.321, 102890.58]       69
(102890.58, 285271.891]      68
(285271.891, 3787999.955]    68
Name: emissions_bin, dtype: int64