In [1]:
import pandas as pd

In [2]:
direct_emitters_df = pd.read_excel (r'resources/ghgp_data_by_year.xlsx', sheet_name='Direct Emitters', header=3)
direct_emitters_df.head(10)

,Facility Id,FRS Id,Facility Name,City,State,Zip Code,Address,County,Latitude,Longitude,...,2020 Total reported direct emissions,2019 Total reported direct emissions,2018 Total reported direct emissions,2017 Total reported direct emissions,2016 Total reported direct emissions,2015 Total reported direct emissions,2014 Total reported direct emissions,2013 Total reported direct emissions,2012 Total reported direct emissions,2011 Total reported direct emissions
0,1004377,1.100438e+11,121 REGIONAL DISPOSAL FACILITY,MELISSA,TX,75454,3820 SAM RAYBURN HIGHWAY,COLLIN COUNTY,33.298570,-96.535860,...,504064.000,518680.250,653854.000,250497.500,221014.750,199011.750,241883.500,289953.25,204000.000,194000.000
1,1010040,1.100701e+11,15-18565/15-18662,Hazard,KY,40701,4200 S. Hwy 15,PERRY COUNTY,37.219099,-83.156046,...,NaN,NaN,125981.750,218699.250,141439.500,118204.500,225708.250,306680.75,348450.750,390393.500
2,1010085,1.100555e+11,15-19015,Hazard,KY,41701,1845 S. KY HWY 15,PERRY COUNTY,37.236617,-83.181260,...,NaN,NaN,93918.750,70265.000,35907.000,55872.500,68761.000,57767.00,41513.000,64664.500
3,1012147,1.100701e+11,17Z Gas Plant - Chevron USA Inc.,McKittrick,CA,93251,22845 Highway 33,NaN,35.318187,-119.633884,...,NaN,NaN,3564.138,9298.916,10208.062,NaN,NaN,NaN,NaN,NaN
4,1000112,1.100198e+11,23rd and 3rd,BROOKLYN,NY,11232,730 3rd Avenue,Kings,40.663000,-74.000000,...,60819.700,44658.384,70705.288,52698.656,66797.352,67399.252,40722.200,102599.22,68984.744,100591.828
5,1006394,NaN,29-6 #2 Central Delivery Point,Blanco,NM,87412,NaN,Rio Arriba,36.745200,-107.445500,...,NaN,NaN,NaN,NaN,NaN,15391.592,15353.192,14576.79,10872.560,19389.570
6,1002885,NaN,30-5 Central Delivery Point Compressor Station,Aztec,NM,87410,NaN,Rio Arriba,36.811800,-107.403600,...,NaN,NaN,NaN,NaN,NaN,22506.516,21883.568,22329.72,26701.300,36223.160
7,1002707,NaN,31-6 Central Delivery Point,BLOOMFIELD,NM,87413,NaN,Rio Arriba,36.836300,-107.419900,...,NaN,NaN,NaN,NaN,NaN,52646.752,62914.164,68228.44,66669.840,66286.810
8,1003742,1.100104e+11,31st Street Landfill,WESTCHESTER,IL,60154,11700 W 31ST ST,COOK COUNTY,41.835129,-87.915924,...,100500.948,18925.400,31220.150,29026.800,120657.600,92696.600,120707.350,97467.50,87357.750,95113.250
9,1002718,1.100438e+11,32-7 Central Delivery Point,BLANCO,NM,87412,NaN,SAN JUAN,36.931300,-107.560400,...,NaN,NaN,NaN,NaN,NaN,33654.124,40757.096,41751.09,49092.720,52001.800

In [3]:
direct_emitters_df.columns

Index(['Facility Id', 'FRS Id', 'Facility Name', 'City', 'State', 'Zip Code',
       'Address', 'County', 'Latitude', 'Longitude', 'Primary NAICS Code',
       'Latest Reported Industry Type (subparts)',
       'Latest Reported Industry Type (sectors)',
       '2020 Total reported direct emissions',
       '2019 Total reported direct emissions',
       '2018 Total reported direct emissions',
       '2017 Total reported direct emissions',
       '2016 Total reported direct emissions',
       '2015 Total reported direct emissions',
       '2014 Total reported direct emissions',
       '2013 Total reported direct emissions',
       '2012 Total reported direct emissions',
       '2011 Total reported direct emissions'],
      dtype='object')

In [4]:
direct_emitters_df = direct_emitters_df[['Facility Id', 'Facility Name', 'City', 'State', 'Zip Code', 'Primary NAICS Code','Latest Reported Industry Type (subparts)',
       'Latest Reported Industry Type (sectors)',
       '2020 Total reported direct emissions',
       '2019 Total reported direct emissions',
       '2018 Total reported direct emissions',
       '2017 Total reported direct emissions',
       '2016 Total reported direct emissions',
       '2015 Total reported direct emissions',
       '2014 Total reported direct emissions',
       '2013 Total reported direct emissions',
       '2012 Total reported direct emissions',
       '2011 Total reported direct emissions' ]]
direct_emitters_df

,Facility Id,Facility Name,City,State,Zip Code,Primary NAICS Code,Latest Reported Industry Type (subparts),Latest Reported Industry Type (sectors),2020 Total reported direct emissions,2019 Total reported direct emissions,2018 Total reported direct emissions,2017 Total reported direct emissions,2016 Total reported direct emissions,2015 Total reported direct emissions,2014 Total reported direct emissions,2013 Total reported direct emissions,2012 Total reported direct emissions,2011 Total reported direct emissions
0,1004377,121 REGIONAL DISPOSAL FACILITY,MELISSA,TX,75454,562212,HH,Waste,504064.000,518680.250,653854.000,250497.500,221014.750,199011.750,241883.500,289953.250,204000.000,194000.000
1,1010040,15-18565/15-18662,Hazard,KY,40701,212112,FF,Other,NaN,NaN,125981.750,218699.250,141439.500,118204.500,225708.250,306680.750,348450.750,390393.500
2,1010085,15-19015,Hazard,KY,41701,212112,FF,Other,NaN,NaN,93918.750,70265.000,35907.000,55872.500,68761.000,57767.000,41513.000,64664.500
3,1012147,17Z Gas Plant - Chevron USA Inc.,McKittrick,CA,93251,211130,"C,NN-FRAC,W-PROC","Natural Gas and Natural Gas Liquids Suppliers,...",NaN,NaN,3564.138,9298.916,10208.062,NaN,NaN,NaN,NaN,NaN
4,1000112,23rd and 3rd,BROOKLYN,NY,11232,221112,"C,D",Power Plants,60819.700,44658.384,70705.288,52698.656,66797.352,67399.252,40722.200,102599.220,68984.744,100591.828
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8433,1010592,Zider,Aiken,TX,75935,486210,"C,W-PROC",Petroleum and Natural Gas Systems,22359.122,44919.946,30924.146,11961.956,NaN,1386.044,3437.688,10141.238,32744.948,NaN
8434,1000805,Zion Energy Center,ZION,IL,60099,221112,"C,D",Power Plants,325679.418,395152.486,321472.988,271470.880,261586.278,82924.594,41118.262,70492.840,78032.512,66811.452
8435,1001464,Zuni,DENVER,CO,80204,221330,D,Power Plants,0.000,10870.860,16707.788,14363.196,19363.428,23648.012,23916.312,31493.184,28339.044,31193.236
8436,1012625,voestalpine Texas LLC,Portland,TX,78374,331110,"C,Q",Metals,650907.100,857709.816,783385.604,749328.252,163764.828,NaN,NaN,NaN,NaN,NaN
8437,1011696,white oak landfill,waynesville,NC,28785,562212,"C,HH",Waste,89476.750,82134.750,74998.250,66643.350,57371.400,49400.750,41921.350,40838.000,39733.000,38540.000

In [5]:
direct_emitters_df = direct_emitters_df.dropna()
direct_emitters_df

,Facility Id,Facility Name,City,State,Zip Code,Primary NAICS Code,Latest Reported Industry Type (subparts),Latest Reported Industry Type (sectors),2020 Total reported direct emissions,2019 Total reported direct emissions,2018 Total reported direct emissions,2017 Total reported direct emissions,2016 Total reported direct emissions,2015 Total reported direct emissions,2014 Total reported direct emissions,2013 Total reported direct emissions,2012 Total reported direct emissions,2011 Total reported direct emissions
0,1004377,121 REGIONAL DISPOSAL FACILITY,MELISSA,TX,75454,562212,HH,Waste,504064.000,518680.250,653854.000,250497.500,221014.750,199011.750,241883.500,289953.250,204000.000,194000.000
4,1000112,23rd and 3rd,BROOKLYN,NY,11232,221112,"C,D",Power Plants,60819.700,44658.384,70705.288,52698.656,66797.352,67399.252,40722.200,102599.220,68984.744,100591.828
8,1003742,31st Street Landfill,WESTCHESTER,IL,60154,562212,"C,HH",Waste,100500.948,18925.400,31220.150,29026.800,120657.600,92696.600,120707.350,97467.500,87357.750,95113.250
12,1003188,3M BROWNWOOD,BROWNWOOD,TX,76801,326113,"C,N",Minerals,29359.640,30571.636,34432.420,36202.264,31773.480,36754.712,36419.864,34821.820,33671.924,37149.360
13,1005043,3M CO,MAPLEWOOD,MN,55144,541715,C,Other,82308.238,106258.176,104995.534,76595.410,79174.000,79440.076,81855.400,80335.194,72407.026,76373.372
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8431,1003318,ZYBACH CRYOGENIC PLANT,Briscoe,TX,79011,211130,"C,W-PROC",Petroleum and Natural Gas Systems,15072.952,34028.834,23974.266,29733.948,25010.326,54812.054,40266.614,56638.910,83978.982,58893.092
8432,1001308,Zeeland Generating Station,ZEELAND,MI,49464,221112,"C,D",Power Plants,1780786.552,1735721.020,1370334.872,1342562.524,1696631.212,1465347.020,875180.356,617747.712,1263260.168,786899.532
8434,1000805,Zion Energy Center,ZION,IL,60099,221112,"C,D",Power Plants,325679.418,395152.486,321472.988,271470.880,261586.278,82924.594,41118.262,70492.840,78032.512,66811.452
8435,1001464,Zuni,DENVER,CO,80204,221330,D,Power Plants,0.000,10870.860,16707.788,14363.196,19363.428,23648.012,23916.312,31493.184,28339.044,31193.236
8437,1011696,white oak landfill,waynesville,NC,28785,562212,"C,HH",Waste,89476.750,82134.750,74998.250,66643.350,57371.400,49400.750,41921.350,40838.000,39733.000,38540.000

In [6]:
direct_emitters_df.rename(columns = {'Facility Id':'facility_id',
                              'Facility Name':'facility_name', 'City':'city',
                                     'State':'state','Zip Code':'zip_code','Primary NAICS Code':'primary_naics_code',
                                    'Latest Reported Industry Type (subparts)':'industry_type_subpart',
                                     'Latest Reported Industry Type (sectors)':'industry_type_sector',
                                     '2020 Total reported direct emissions':'total_emissions_2020',
                                     '2019 Total reported direct emissions':'total_emissions_2019',
                                     '2018 Total reported direct emissions':'total_emissions_2018',
                                     '2017 Total reported direct emissions':'total_emissions_2017',
                                     '2016 Total reported direct emissions':'total_emissions_2016',
                                     '2015 Total reported direct emissions':'total_emissions_2015',
                                     '2014 Total reported direct emissions':'total_emissions_2014',
                                     '2013 Total reported direct emissions':'total_emissions_2013',
                                     '2012 Total reported direct emissions':'total_emissions_2012',
                                     '2011 Total reported direct emissions':'total_emissions_2011'},
                                     inplace = True)
direct_emitters_df

C:\Users\Owner\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,facility_id,facility_name,city,state,zip_code,primary_naics_code,industry_type_subpart,industry_type_sector,total_emissions_2020,total_emissions_2019,total_emissions_2018,total_emissions_2017,total_emissions_2016,total_emissions_2015,total_emissions_2014,total_emissions_2013,total_emissions_2012,total_emissions_2011
0,1004377,121 REGIONAL DISPOSAL FACILITY,MELISSA,TX,75454,562212,HH,Waste,504064.000,518680.250,653854.000,250497.500,221014.750,199011.750,241883.500,289953.250,204000.000,194000.000
4,1000112,23rd and 3rd,BROOKLYN,NY,11232,221112,"C,D",Power Plants,60819.700,44658.384,70705.288,52698.656,66797.352,67399.252,40722.200,102599.220,68984.744,100591.828
8,1003742,31st Street Landfill,WESTCHESTER,IL,60154,562212,"C,HH",Waste,100500.948,18925.400,31220.150,29026.800,120657.600,92696.600,120707.350,97467.500,87357.750,95113.250
12,1003188,3M BROWNWOOD,BROWNWOOD,TX,76801,326113,"C,N",Minerals,29359.640,30571.636,34432.420,36202.264,31773.480,36754.712,36419.864,34821.820,33671.924,37149.360
13,1005043,3M CO,MAPLEWOOD,MN,55144,541715,C,Other,82308.238,106258.176,104995.534,76595.410,79174.000,79440.076,81855.400,80335.194,72407.026,76373.372
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8431,1003318,ZYBACH CRYOGENIC PLANT,Briscoe,TX,79011,211130,"C,W-PROC",Petroleum and Natural Gas Systems,15072.952,34028.834,23974.266,29733.948,25010.326,54812.054,40266.614,56638.910,83978.982,58893.092
8432,1001308,Zeeland Generating Station,ZEELAND,MI,49464,221112,"C,D",Power Plants,1780786.552,1735721.020,1370334.872,1342562.524,1696631.212,1465347.020,875180.356,617747.712,1263260.168,786899.532
8434,1000805,Zion Energy Center,ZION,IL,60099,221112,"C,D",Power Plants,325679.418,395152.486,321472.988,271470.880,261586.278,82924.594,41118.262,70492.840,78032.512,66811.452
8435,1001464,Zuni,DENVER,CO,80204,221330,D,Power Plants,0.000,10870.860,16707.788,14363.196,19363.428,23648.012,23916.312,31493.184,28339.044,31193.236
8437,1011696,white oak landfill,waynesville,NC,28785,562212,"C,HH",Waste,89476.750,82134.750,74998.250,66643.350,57371.400,49400.750,41921.350,40838.000,39733.000,38540.000

In [8]:
direct_emitters_df.to_csv('resources/Direct_Emitters_cleaned.csv', index=False, sep=',', header=True)

In [8]:
direct_emitters_df.dtypes

facility_id                int64
facility_name             object
city                      object
state                     object
zip_code                   int64
primary_naics_code         int64
industry_type_subpart     object
industry_type_sector      object
total_emissions_2020     float64
total_emissions_2019     float64
total_emissions_2018     float64
total_emissions_2017     float64
total_emissions_2016     float64
total_emissions_2015     float64
total_emissions_2014     float64
total_emissions_2013     float64
total_emissions_2012     float64
total_emissions_2011     float64
dtype: object