In [1]:
import pandas as pd
import numpy as np

In [2]:
onshore_oil_gas = pd.read_excel (r'resources/ghgp_data_by_year.xlsx', sheet_name='Onshore Oil & Gas Prod.', header=3)
onshore_oil_gas.head(10)

,Facility Id,FRS Id,Facility Name,Basin,Reported City,Reported State,Reported Zip Code,Reported Address,Reported County,Reported Latitude,...,2020 Total reported emissions from Onshore Oil & Gas Production,2019 Total reported emissions from Onshore Oil & Gas Production,2018 Total reported emissions from Onshore Oil & Gas Production,2017 Total reported emissions from Onshore Oil & Gas Production,2016 Total reported emissions from Onshore Oil & Gas Production,2015 Total reported emissions from Onshore Oil & Gas Production,2014 Total reported emissions from Onshore Oil & Gas Production,2013 Total reported emissions from Onshore Oil & Gas Production,2012 Total reported emissions from Onshore Oil & Gas Production,2011 Total reported emissions from Onshore Oil & Gas Production
0,1000355,1.100030e+11,#540 BONANZA CREEK ENERGY - DENVER BASIN,540 - Denver Basin,Denver,CO,80202,"410 17th Street, Suite 1500",DENVER COUNTY,39.744310,...,293919.042,330937.720,273069.722,242958.734,261382.840,354850.700,243116.642,163013.800,151519.070,17728.250
1,1009263,1.100677e+11,220 Gulf Coast,"220 - Gulf Coast Basin (LA, TX)",Oklahoma City,OK,73114,701 Cedar Lake Blvd,OKLAHOMA COUNTY,35.567190,...,NaN,NaN,NaN,NaN,3181.694,4448.390,3802.892,26409.382,30756.726,84922.622
2,1009238,1.100144e+11,220 Gulf Coast Basin DEC,"220 - Gulf Coast Basin (LA, TX)",Oklahoma City,OK,73102,333 West Sheridan Ave,OKLAHOMA COUNTY,35.466697,...,586008.596,678933.080,811064.850,767413.320,808767.966,747874.260,171273.574,63896.146,94675.778,148424.596
3,1008121,1.100144e+11,230 Arkla Basin DEC,230 - Arkla Basin,Oklahoma City,OK,73102,333 West Sheridan Ave,Oklahoma,35.467340,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21834.364,27839.934,28858.972
4,1009283,1.100048e+11,230 Arkla Basin QEP Energy Company,230 - Arkla Basin,Denver,CO,80265,1050 17th Street Unit 800,NaN,39.748077,...,NaN,NaN,83992.518,102680.944,57168.136,135085.120,149043.056,154266.208,302760.280,348357.764
5,1009117,1.100677e+11,260 East Texas Basin,260 - East Texas Basin,Oklahoma City,OK,73114,701 Cedar Lake Blvd,OKLAHOMA COUNTY,35.567190,...,NaN,NaN,NaN,NaN,NaN,NaN,104.250,11027.400,17101.498,51114.886
6,1009170,1.100381e+11,260 East Texas Basin - BP America Production C...,260 - East Texas Basin,Houston,TX,77079,501 Westlake Park Blvd.,HARRIS COUNTY,29.780370,...,23735.104,76941.042,97345.036,67155.314,43942.410,42528.246,52433.886,62617.866,34844.106,40809.110
7,1009284,1.100048e+11,340 Arkoma Basin QEP Energy Company,345 - Arkoma Basin,Tulsa,OK,74136,"6100 South Yale, Suite 900",TULSA COUNTY,36.061355,...,NaN,NaN,NaN,NaN,NaN,NaN,67738.576,60988.976,39699.076,35042.474
8,1009169,1.100381e+11,345 Arkoma Basin - BP America Production Company,345 - Arkoma Basin,Houston,TX,77079,501 Westlake Park Blvd.,HARRIS COUNTY,29.780370,...,NaN,167140.942,164535.538,215484.612,258715.340,223225.930,175867.166,183274.068,207003.628,221545.052
9,1008285,1.100144e+11,345 Arkoma Basin DEC,345 - Arkoma Basin,Oklahoma City,OK,73102,333 West Sheridan Ave,Oklahoma,35.467340,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10584.100,24482.622,30257.310

In [3]:
df = onshore_oil_gas.drop(columns=['FRS Id',
                              'Reported Address',
                              'Reported County', 
                             ])
df.columns

Index(['Facility Id', 'Facility Name', 'Basin', 'Reported City',
       'Reported State', 'Reported Zip Code', 'Reported Latitude',
       'Reported Longitude', 'Primary NAICS Code',
       'Latest Reported Industry Type (subparts)',
       '2020 Total reported emissions from Onshore Oil & Gas Production ',
       '2019 Total reported emissions from Onshore Oil & Gas Production ',
       '2018 Total reported emissions from Onshore Oil & Gas Production ',
       '2017 Total reported emissions from Onshore Oil & Gas Production ',
       '2016 Total reported emissions from Onshore Oil & Gas Production ',
       '2015 Total reported emissions from Onshore Oil & Gas Production ',
       '2014 Total reported emissions from Onshore Oil & Gas Production ',
       '2013 Total reported emissions from Onshore Oil & Gas Production ',
       '2012 Total reported emissions from Onshore Oil & Gas Production ',
       '2011 Total reported emissions from Onshore Oil & Gas Production '],
      dtype='object')

In [4]:
# Rename the columns
col_names = {'Facility Id': 'facility_id', 
             'Facility Name': 'facility_name', 
             'Basin': 'basin', 
             'Reported City': 'city', 
             'Reported State': 'state', 
             'Reported Zip Code': 'zip_code',
             'Reported Latitude': 'latitude',
             'Reported Longitude': 'longitude',
             'Primary NAICS Code': 'primary_naics_code',
       'Latest Reported Industry Type (subparts)': 'industry_type_subpart',
       '2020 Total reported emissions from Onshore Oil & Gas Production ': 'total_emissions_2020',
       '2019 Total reported emissions from Onshore Oil & Gas Production ': 'total_emissions_2019',
       '2018 Total reported emissions from Onshore Oil & Gas Production ': 'total_emissions_2018',
       '2017 Total reported emissions from Onshore Oil & Gas Production ': 'total_emissions_2017',
       '2016 Total reported emissions from Onshore Oil & Gas Production ': 'total_emissions_2016',
       '2015 Total reported emissions from Onshore Oil & Gas Production ': 'total_emissions_2015',
       '2014 Total reported emissions from Onshore Oil & Gas Production ': 'total_emissions_2014',
       '2013 Total reported emissions from Onshore Oil & Gas Production ': 'total_emissions_2013',
       '2012 Total reported emissions from Onshore Oil & Gas Production ': 'total_emissions_2012',
       '2011 Total reported emissions from Onshore Oil & Gas Production ': 'total_emissions_2011'}
df.rename(columns=col_names, inplace=True)

In [5]:
basins = df['basin'].str.split(pat='-', expand=True)

In [6]:
df[['basin_num','basin_name','extra']] = basins
#gather_boost_df = gather_boost_df.drop(['extra'])

In [7]:
df = df.drop(['basin','extra'], axis=1)
df

,facility_id,facility_name,city,state,zip_code,latitude,longitude,primary_naics_code,industry_type_subpart,total_emissions_2020,...,total_emissions_2018,total_emissions_2017,total_emissions_2016,total_emissions_2015,total_emissions_2014,total_emissions_2013,total_emissions_2012,total_emissions_2011,basin_num,basin_name
0,1000355,#540 BONANZA CREEK ENERGY - DENVER BASIN,Denver,CO,80202,39.744310,-104.988580,211120,W-ONSH,293919.042,...,273069.722,242958.734,261382.840,354850.700,243116.642,163013.800,151519.070,17728.250,540,Denver Basin
1,1009263,220 Gulf Coast,Oklahoma City,OK,73114,35.567190,-97.498270,211111,W-ONSH,NaN,...,NaN,NaN,3181.694,4448.390,3802.892,26409.382,30756.726,84922.622,220,"Gulf Coast Basin (LA, TX)"
2,1009238,220 Gulf Coast Basin DEC,Oklahoma City,OK,73102,35.466697,-97.514530,211120,W-ONSH,586008.596,...,811064.850,767413.320,808767.966,747874.260,171273.574,63896.146,94675.778,148424.596,220,"Gulf Coast Basin (LA, TX)"
3,1008121,230 Arkla Basin DEC,Oklahoma City,OK,73102,35.467340,-97.514060,211111,W-ONSH,NaN,...,NaN,NaN,NaN,NaN,NaN,21834.364,27839.934,28858.972,230,Arkla Basin
4,1009283,230 Arkla Basin QEP Energy Company,Denver,CO,80265,39.748077,-104.994564,211130,W-ONSH,NaN,...,83992.518,102680.944,57168.136,135085.120,149043.056,154266.208,302760.280,348357.764,230,Arkla Basin
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
844,1008232,YPC 535 Green River Basin,Artesia,NM,88210,32.841420,-104.401060,211111,W-ONSH,NaN,...,NaN,NaN,13971.944,33990.086,44747.288,40908.050,36944.348,42213.496,535,Green River Basin
845,1013913,"Zarvona Energy, LLC",HOUSTON,TX,77002,29.756618,-95.363806,211120,W-ONSH,176333.826,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,430,Permian Basin
846,1013936,"Zarvona Energy, LLC (220) Gulf Coast Basin",HOUSTON,TX,77002,29.756618,-95.363806,211120,W-ONSH,55726.668,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,220,"Gulf Coast Basin (LA, TX)"
847,1013771,"Zavanna, LLC Williston Basin (395) Operations",Denver,CO,80202,39.749412,-104.996212,211120,W-ONSH,154584.020,...,139071.762,94372.100,123021.176,155444.766,NaN,NaN,NaN,NaN,395,Williston Basin
848,1009162,"Zenergy, Inc., Code 395, Williston Basin",Tulsa,OK,74136,36.072610,-95.923100,211111,W-ONSH,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,165694.222,110888.946,395,Williston Basin

In [8]:
df = df.dropna()
df

,facility_id,facility_name,city,state,zip_code,latitude,longitude,primary_naics_code,industry_type_subpart,total_emissions_2020,...,total_emissions_2018,total_emissions_2017,total_emissions_2016,total_emissions_2015,total_emissions_2014,total_emissions_2013,total_emissions_2012,total_emissions_2011,basin_num,basin_name
0,1000355,#540 BONANZA CREEK ENERGY - DENVER BASIN,Denver,CO,80202,39.744310,-104.988580,211120,W-ONSH,293919.0420,...,2.730697e+05,242958.7340,261382.8400,354850.700,243116.642,163013.800,151519.070,17728.250,540,Denver Basin
2,1009238,220 Gulf Coast Basin DEC,Oklahoma City,OK,73102,35.466697,-97.514530,211120,W-ONSH,586008.5960,...,8.110648e+05,767413.3200,808767.9660,747874.260,171273.574,63896.146,94675.778,148424.596,220,"Gulf Coast Basin (LA, TX)"
6,1009170,260 East Texas Basin - BP America Production C...,Houston,TX,77079,29.780370,-95.629500,211130,W-ONSH,23735.1040,...,9.734504e+04,67155.3140,43942.4100,42528.246,52433.886,62617.866,34844.106,40809.110,260,East Texas Basin
14,1009265,360 Anadarko Basin,Oklahoma City,OK,73142,35.567190,-97.498270,211120,W-ONSH,124278.8860,...,2.538194e+05,136681.2340,311050.4360,328260.992,258855.004,188100.356,206799.244,243416.194,360,Anadarko Basin
16,1008287,360 Anadarko Basin DEC,Oklahoma City,OK,73102,35.466697,-97.514530,211120,W-ONSH,319410.3520,...,4.476728e+05,406376.5860,252802.3660,353194.722,381235.414,357671.756,396990.192,392734.616,360,Anadarko Basin
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
835,1008275,XTO Energy Inc 395 Williston,Englewood,CO,80112,39.550680,-104.865840,211130,W-ONSH,696920.5961,...,1.048460e+06,759815.2132,897826.8100,1113420.680,1106020.808,565682.646,434763.302,100287.562,395,Williston Basin
836,1009387,XTO Energy Inc 415 Strawn,Fort Worth,TX,76164,32.778500,-97.357058,211130,W-ONSH,508575.4928,...,5.504788e+05,368705.9262,299317.8140,458065.976,475712.380,538068.374,466198.708,243355.964,415,Strawn Basin
837,1009388,XTO Energy Inc 420 Fort Worth Syncline,Fort Worth,TX,76164,32.778500,-97.357058,211130,W-ONSH,78347.1629,...,7.843492e+04,52289.4046,50198.5748,65402.076,74580.174,83541.102,66927.690,53484.864,420,Fort Worth Syncline
838,1009390,XTO Energy Inc 430 Permian,Midland,TX,79701,31.991601,-102.083254,211130,W-ONSH,726425.0784,...,1.632900e+06,647170.1003,485280.7290,544433.098,335163.146,262364.680,276265.484,132785.162,430,Permian Basin
839,1008078,XTO Energy Inc 507 Central Western Overthrust,Englewood,CO,80112,39.550680,-104.865840,211130,W-ONSH,48260.8539,...,5.413175e+04,56806.5062,58233.9920,60247.942,66978.232,71244.974,43612.148,35205.450,507,Central Western Overthrust

In [9]:
## Export to CSV without the index
df.to_csv('basins.csv', index=False)

In [17]:
df2020 = df[['facility_id', 'facility_name', 'city', 'state', 'zip_code', 'latitude',
       'longitude',
       'total_emissions_2020', 'basin_num', 'basin_name'
                             ]]

In [14]:
df2019 = df[['facility_id', 'facility_name', 'city', 'state', 'zip_code', 'latitude',
       'longitude', 'primary_naics_code', 'industry_type_subpart',
       'total_emissions_2019', 'basin_num', 'basin_name'
                             ]]

In [18]:
df2020.to_csv('basins2020.csv', index=False)

In [10]:
df.columns

Index(['facility_id', 'facility_name', 'city', 'state', 'zip_code', 'latitude',
       'longitude', 'primary_naics_code', 'industry_type_subpart',
       'total_emissions_2020', 'total_emissions_2019', 'total_emissions_2018',
       'total_emissions_2017', 'total_emissions_2016', 'total_emissions_2015',
       'total_emissions_2014', 'total_emissions_2013', 'total_emissions_2012',
       'total_emissions_2011', 'basin_num', 'basin_name'],
      dtype='object')