In [13]:
# Initial imports
import pandas as pd

In [14]:
file_path = "Direct_Emitters_cleaned.csv"
direct_emitters_df = pd.read_csv(file_path, index_col=False)
direct_emitters_df.head()

,facility_id,facility_name,city,state,zip_code,primary_naics_code,industry_type_subpart,industry_type_sector,total_emissions_2020,total_emissions_2019,total_emissions_2018,total_emissions_2017,total_emissions_2016,total_emissions_2015,total_emissions_2014,total_emissions_2013,total_emissions_2012,total_emissions_2011
0,1004377,121 REGIONAL DISPOSAL FACILITY,MELISSA,TX,75454,562212,HH,Waste,504064.000,518680.250,653854.000,250497.500,221014.750,199011.750,241883.500,289953.250,204000.000,194000.000
1,1000112,23rd and 3rd,BROOKLYN,NY,11232,221112,"C,D",Power Plants,60819.700,44658.384,70705.288,52698.656,66797.352,67399.252,40722.200,102599.220,68984.744,100591.828
2,1003742,31st Street Landfill,WESTCHESTER,IL,60154,562212,"C,HH",Waste,100500.948,18925.400,31220.150,29026.800,120657.600,92696.600,120707.350,97467.500,87357.750,95113.250
3,1003188,3M BROWNWOOD,BROWNWOOD,TX,76801,326113,"C,N",Minerals,29359.640,30571.636,34432.420,36202.264,31773.480,36754.712,36419.864,34821.820,33671.924,37149.360
4,1005043,3M CO,MAPLEWOOD,MN,55144,541715,C,Other,82308.238,106258.176,104995.534,76595.410,79174.000,79440.076,81855.400,80335.194,72407.026,76373.372

In [15]:
direct_emitters_df = direct_emitters_df.reset_index(drop=True)

In [16]:
direct_emitters_df

,facility_id,facility_name,city,state,zip_code,primary_naics_code,industry_type_subpart,industry_type_sector,total_emissions_2020,total_emissions_2019,total_emissions_2018,total_emissions_2017,total_emissions_2016,total_emissions_2015,total_emissions_2014,total_emissions_2013,total_emissions_2012,total_emissions_2011
0,1004377,121 REGIONAL DISPOSAL FACILITY,MELISSA,TX,75454,562212,HH,Waste,504064.000,518680.250,653854.000,250497.500,221014.750,199011.750,241883.500,289953.250,204000.000,194000.000
1,1000112,23rd and 3rd,BROOKLYN,NY,11232,221112,"C,D",Power Plants,60819.700,44658.384,70705.288,52698.656,66797.352,67399.252,40722.200,102599.220,68984.744,100591.828
2,1003742,31st Street Landfill,WESTCHESTER,IL,60154,562212,"C,HH",Waste,100500.948,18925.400,31220.150,29026.800,120657.600,92696.600,120707.350,97467.500,87357.750,95113.250
3,1003188,3M BROWNWOOD,BROWNWOOD,TX,76801,326113,"C,N",Minerals,29359.640,30571.636,34432.420,36202.264,31773.480,36754.712,36419.864,34821.820,33671.924,37149.360
4,1005043,3M CO,MAPLEWOOD,MN,55144,541715,C,Other,82308.238,106258.176,104995.534,76595.410,79174.000,79440.076,81855.400,80335.194,72407.026,76373.372
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5287,1003318,ZYBACH CRYOGENIC PLANT,Briscoe,TX,79011,211130,"C,W-PROC",Petroleum and Natural Gas Systems,15072.952,34028.834,23974.266,29733.948,25010.326,54812.054,40266.614,56638.910,83978.982,58893.092
5288,1001308,Zeeland Generating Station,ZEELAND,MI,49464,221112,"C,D",Power Plants,1780786.552,1735721.020,1370334.872,1342562.524,1696631.212,1465347.020,875180.356,617747.712,1263260.168,786899.532
5289,1000805,Zion Energy Center,ZION,IL,60099,221112,"C,D",Power Plants,325679.418,395152.486,321472.988,271470.880,261586.278,82924.594,41118.262,70492.840,78032.512,66811.452
5290,1001464,Zuni,DENVER,CO,80204,221330,D,Power Plants,0.000,10870.860,16707.788,14363.196,19363.428,23648.012,23916.312,31493.184,28339.044,31193.236
5291,1011696,white oak landfill,waynesville,NC,28785,562212,"C,HH",Waste,89476.750,82134.750,74998.250,66643.350,57371.400,49400.750,41921.350,40838.000,39733.000,38540.000

In [17]:
# Configure settings for RDS
mode = "overwrite"
jdbc_url="jdbc:postgresql://ghgemissions.cg3dqiowwhnr.us-west-1.rds.amazonaws.com:5432/ghgemissions"
config = {"user":"postgres", 
          "password": "Password00", 
          "driver":"org.postgresql.Driver"}

In [18]:
# Write review_id_df to table in RDS
direct_emitters_df.write.jdbc(url=jdbc_url, table='review_id_table', mode=mode, properties=config)

AttributeError: 'DataFrame' object has no attribute 'write'