In [1]:
# Import dependencies
import pandas as pd

In [2]:
# Load files
gather_df = pd.read_excel("ghgp_data_by_year.xlsx", sheet_name="Gathering & Boosting", header=3)
oil_df = pd.read_excel("ghgp_data_by_year.xlsx", sheet_name="Onshore Oil & Gas Prod.", header=3)

In [3]:
# Inspect columns
oil_df.columns

Index(['Facility Id', 'FRS Id', 'Facility Name', 'Basin', 'Reported City',
       'Reported State', 'Reported Zip Code', 'Reported Address',
       'Reported County', 'Reported Latitude', 'Reported Longitude',
       'Primary NAICS Code', 'Latest Reported Industry Type (subparts)',
       '2020 Total reported emissions from Onshore Oil & Gas Production ',
       '2019 Total reported emissions from Onshore Oil & Gas Production ',
       '2018 Total reported emissions from Onshore Oil & Gas Production ',
       '2017 Total reported emissions from Onshore Oil & Gas Production ',
       '2016 Total reported emissions from Onshore Oil & Gas Production ',
       '2015 Total reported emissions from Onshore Oil & Gas Production ',
       '2014 Total reported emissions from Onshore Oil & Gas Production ',
       '2013 Total reported emissions from Onshore Oil & Gas Production ',
       '2012 Total reported emissions from Onshore Oil & Gas Production ',
       '2011 Total reported emissions from Onshore Oil & Gas Production '],
      dtype='object')

In [4]:
# Keep desired columns
oil_df = oil_df.drop(columns=['FRS Id','Reported City',
       'Reported State', 'Reported Zip Code', 'Reported Address',
       'Reported County'])

In [5]:
oil_df.columns

Index(['Facility Id', 'Facility Name', 'Basin', 'Reported Latitude',
       'Reported Longitude', 'Primary NAICS Code',
       'Latest Reported Industry Type (subparts)',
       '2020 Total reported emissions from Onshore Oil & Gas Production ',
       '2019 Total reported emissions from Onshore Oil & Gas Production ',
       '2018 Total reported emissions from Onshore Oil & Gas Production ',
       '2017 Total reported emissions from Onshore Oil & Gas Production ',
       '2016 Total reported emissions from Onshore Oil & Gas Production ',
       '2015 Total reported emissions from Onshore Oil & Gas Production ',
       '2014 Total reported emissions from Onshore Oil & Gas Production ',
       '2013 Total reported emissions from Onshore Oil & Gas Production ',
       '2012 Total reported emissions from Onshore Oil & Gas Production ',
       '2011 Total reported emissions from Onshore Oil & Gas Production '],
      dtype='object')

In [6]:
# Rename columns
cols = {'Facility Id': 'facility_id', 'Facility Name': 'facility_name', 'Basin': 'basin', 'Reported Latitude': 'lat',
       'Reported Longitude': 'lon', 'Primary NAICS Code': 'primary_naics_code',
       'Latest Reported Industry Type (subparts)': 'industry_type_subpart',
       '2020 Total reported emissions from Onshore Oil & Gas Production ': 'total_emissions_2020',
       '2019 Total reported emissions from Onshore Oil & Gas Production ': 'total_emissions_2019',
       '2018 Total reported emissions from Onshore Oil & Gas Production ': 'total_emissions_2028',
       '2017 Total reported emissions from Onshore Oil & Gas Production ': 'total_emissions_2017',
       '2016 Total reported emissions from Onshore Oil & Gas Production ': 'total_emissions_2016',
       '2015 Total reported emissions from Onshore Oil & Gas Production ': 'total_emissions_2015',
       '2014 Total reported emissions from Onshore Oil & Gas Production ': 'total_emissions_2014',
       '2013 Total reported emissions from Onshore Oil & Gas Production ': 'total_emissions_2013',
       '2012 Total reported emissions from Onshore Oil & Gas Production ': 'total_emissions_2012',
       '2011 Total reported emissions from Onshore Oil & Gas Production ': 'total_emissions_2011'}
oil_df = oil_df.rename(columns=cols)

In [7]:
oil_df.head()

,facility_id,facility_name,basin,lat,lon,primary_naics_code,industry_type_subpart,total_emissions_2020,total_emissions_2019,total_emissions_2028,total_emissions_2017,total_emissions_2016,total_emissions_2015,total_emissions_2014,total_emissions_2013,total_emissions_2012,total_emissions_2011
0,1000355,#540 BONANZA CREEK ENERGY - DENVER BASIN,540 - Denver Basin,39.744310,-104.988580,211120,W-ONSH,293919.042,330937.72,273069.722,242958.734,261382.840,354850.70,243116.642,163013.800,151519.070,17728.250
1,1009263,220 Gulf Coast,"220 - Gulf Coast Basin (LA, TX)",35.567190,-97.498270,211111,W-ONSH,NaN,NaN,NaN,NaN,3181.694,4448.39,3802.892,26409.382,30756.726,84922.622
2,1009238,220 Gulf Coast Basin DEC,"220 - Gulf Coast Basin (LA, TX)",35.466697,-97.514530,211120,W-ONSH,586008.596,678933.08,811064.850,767413.320,808767.966,747874.26,171273.574,63896.146,94675.778,148424.596
3,1008121,230 Arkla Basin DEC,230 - Arkla Basin,35.467340,-97.514060,211111,W-ONSH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21834.364,27839.934,28858.972
4,1009283,230 Arkla Basin QEP Energy Company,230 - Arkla Basin,39.748077,-104.994564,211130,W-ONSH,NaN,NaN,83992.518,102680.944,57168.136,135085.12,149043.056,154266.208,302760.280,348357.764

In [ ]:
gather_df.columns