In [1]:
# Import dependencies
import pandas as pd

In [4]:
# Import excel file and create DataFrame
file_to_load = "ghgp_data_by_year.xlsx"
industry_df = pd.read_excel(file_to_load, sheet_name="Industry Type", header=1)
industry_df.head(10)

,Unnamed: 0,Unnamed: 1,Subpart Letter,Name of industry,Facility Type
0,NaN,NaN,C,Stationary Combustion,Direct Emitter
1,NaN,NaN,D,Electricity Generation,Direct Emitter
2,NaN,NaN,E,Adipic Acid Production,Direct Emitter
3,NaN,NaN,F,Aluminum Production,Direct Emitter
4,NaN,NaN,G,Ammonia Manufacturing,Direct Emitter
5,NaN,NaN,H,Cement Production,Direct Emitter
6,NaN,NaN,I,Electronics Manufacture,Direct Emitter
7,NaN,NaN,K,Ferroalloy Production,Direct Emitter
8,NaN,NaN,L,Fluorinated GHG Production,Direct Emitter
9,NaN,NaN,N,Glass Production,Direct Emitter

In [5]:
industry_df.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Subpart Letter', 'Name of industry',
       'Facility Type'],
      dtype='object')

In [7]:
# Drop unwanted columns
df = industry_df[['Subpart Letter', 'Name of industry', 'Facility Type']]

In [8]:
# Rename columns
col_names = {'Subpart Letter': 'industry_type_subpart', 'Name of industry': 'industry_name', 'Facility Type': 'facility_type'}
df = df.rename(columns=col_names)

In [9]:
df.head()

  industry_type_subpart           industry_name   facility_type
0                     C   Stationary Combustion  Direct Emitter
1                     D  Electricity Generation  Direct Emitter
2                     E  Adipic Acid Production  Direct Emitter
3                     F     Aluminum Production  Direct Emitter
4                     G   Ammonia Manufacturing  Direct Emitter

In [10]:
df.dtypes

industry_type_subpart    object
industry_name            object
facility_type            object
dtype: object

In [11]:
df.count()

industry_type_subpart    56
industry_name            56
facility_type            56
dtype: int64

In [12]:
# Export to CSV without the index
df.to_csv('industry_type.csv', index=False, sep=',', header=True)