In [2]:
import numpy as np
import pandas as pd
import plotly.express as px
import sqlalchemy as sa
from sqlalchemy import create_engine

In [3]:
db_string = 'postgresql://ghg_emissions:Password00@ghgemissions.cg3dqiowwhnr.us-west-1.rds.amazonaws.com:5432/ghg_data'
engine = create_engine(db_string)

In [4]:
query = """
SELECT * FROM direct_emissions
"""

In [7]:
df = pd.read_sql(query,engine)
df.head()

,facility_id,facility_name,city,state,zip_code,primary_naics_code,industry_type_subpart,industry_type_sector,total_emissions_2020,total_emissions_2019,total_emissions_2018,total_emissions_2017,total_emissions_2016,total_emissions_2015,total_emissions_2014,total_emissions_2013,total_emissions_2012,total_emissions_2011
0,1004377,121 REGIONAL DISPOSAL FACILITY,MELISSA,TX,75454,562212,HH,Waste,504064.000,518680.250,653854.000,250497.500,221014.750,199011.750,241883.500,289953.250,204000.000,194000.000
1,1000112,23rd and 3rd,BROOKLYN,NY,11232,221112,"C,D",Power Plants,60819.700,44658.384,70705.288,52698.656,66797.352,67399.252,40722.200,102599.220,68984.744,100591.828
2,1003742,31st Street Landfill,WESTCHESTER,IL,60154,562212,"C,HH",Waste,100500.948,18925.400,31220.150,29026.800,120657.600,92696.600,120707.350,97467.500,87357.750,95113.250
3,1003188,3M BROWNWOOD,BROWNWOOD,TX,76801,326113,"C,N",Minerals,29359.640,30571.636,34432.420,36202.264,31773.480,36754.712,36419.864,34821.820,33671.924,37149.360
4,1005043,3M CO,MAPLEWOOD,MN,55144,541715,C,Other,82308.238,106258.176,104995.534,76595.410,79174.000,79440.076,81855.400,80335.194,72407.026,76373.372

In [9]:
#df["industry_type_sector"].value_counts()

Power Plants                                                               1163
Waste                                                                      1114
Other                                                                       858
Petroleum and Natural Gas Systems                                           647
Minerals                                                                    326
                                                                           ...
Petroleum Product Suppliers,Refineries,Waste                                  1
Injection of CO2,Other,Suppliers of CO2,Waste                                 1
Metals,Power Plants                                                           1
Chemicals,Industrial Gas Suppliers,Minerals                                   1
Chemicals,Petroleum Product Suppliers,Refineries,Suppliers of CO2,Waste       1
Name: industry_type_sector, Length: 61, dtype: int64

In [14]:
"total_emissions_2020",
            "total_emissions_2019",
            "total_emissions_2018",
            "total_emissions_2017",
            "total_emissions_2016",
            "total_emissions_2015",
            "total_emissions_2014",
            "total_emissions_2013",
            "total_emissions_2012",
            "total_emissions_2011"

KeyError: ('total_emissions_2020', 'total_emissions_2019', 'total_emissions_2018', 'total_emissions_2017', 'total_emissions_2016', 'total_emissions_2015', 'total_emissions_2014', 'total_emissions_2013', 'total_emissions_2012', 'total_emissions_2011')

In [21]:
summary = [df["total_emissions_2020"].describe(),
           df["total_emissions_2019"].describe(),
           df["total_emissions_2018"].describe(),
           df["total_emissions_2017"].describe(),
           df["total_emissions_2016"].describe(),
           df["total_emissions_2015"].describe(),
           df["total_emissions_2014"].describe(),
           df["total_emissions_2013"].describe(),
           df["total_emissions_2012"].describe(),
           df["total_emissions_2011"].describe()]
summary_df = pd.DataFrame(summary)
summary_df

,count,mean,std,min,25%,50%,75%,max
total_emissions_2020,5292.0,419480.113297,1.157767e+06,0.00,35523.691000,72030.608,224808.4375,1.723290e+07
total_emissions_2019,5292.0,460070.494244,1.289690e+06,0.00,39147.953500,77823.631,242189.9615,1.916974e+07
total_emissions_2018,5292.0,488204.499234,1.402197e+06,0.00,39675.300000,80118.275,248567.2795,1.842964e+07
total_emissions_2017,5292.0,476074.979441,1.402010e+06,0.00,38282.046000,76286.003,222600.5615,2.079817e+07
total_emissions_2016,5292.0,490675.585342,1.408732e+06,0.00,39404.548500,78308.078,239669.7420,1.973314e+07
total_emissions_2015,5292.0,507439.182867,1.451785e+06,-1196.25,40476.013500,79817.608,246006.2885,1.924705e+07
total_emissions_2014,5292.0,530013.182516,1.578584e+06,0.00,40729.115000,79636.430,239149.2615,2.048246e+07
total_emissions_2013,5292.0,527694.002509,1.586747e+06,0.00,41011.311500,79066.033,237722.4540,2.229333e+07
total_emissions_2012,5292.0,525379.352896,1.547694e+06,0.00,42640.236000,81437.770,256998.4475,2.181556e+07
total_emissions_2011,5292.0,542185.261530,1.658999e+06,0.00,42663.654194,82913.250,244710.5025,2.207365e+07