In [2]:
import numpy as np
import pandas as pd
import plotly.express as px
import sqlalchemy as sa
from sqlalchemy import create_engine

In [3]:
db_string = 'postgresql://ghg_emissions:Password00@ghgemissions.cg3dqiowwhnr.us-west-1.rds.amazonaws.com:5432/ghg_data'
engine = create_engine(db_string)

In [4]:
query = """
SELECT * FROM direct_emissions
"""

In [7]:
df = pd.read_sql(query,engine)
df.head()

,facility_id,facility_name,city,state,zip_code,primary_naics_code,industry_type_subpart,industry_type_sector,total_emissions_2020,total_emissions_2019,total_emissions_2018,total_emissions_2017,total_emissions_2016,total_emissions_2015,total_emissions_2014,total_emissions_2013,total_emissions_2012,total_emissions_2011
0,1004377,121 REGIONAL DISPOSAL FACILITY,MELISSA,TX,75454,562212,HH,Waste,504064.000,518680.250,653854.000,250497.500,221014.750,199011.750,241883.500,289953.250,204000.000,194000.000
1,1000112,23rd and 3rd,BROOKLYN,NY,11232,221112,"C,D",Power Plants,60819.700,44658.384,70705.288,52698.656,66797.352,67399.252,40722.200,102599.220,68984.744,100591.828
2,1003742,31st Street Landfill,WESTCHESTER,IL,60154,562212,"C,HH",Waste,100500.948,18925.400,31220.150,29026.800,120657.600,92696.600,120707.350,97467.500,87357.750,95113.250
3,1003188,3M BROWNWOOD,BROWNWOOD,TX,76801,326113,"C,N",Minerals,29359.640,30571.636,34432.420,36202.264,31773.480,36754.712,36419.864,34821.820,33671.924,37149.360
4,1005043,3M CO,MAPLEWOOD,MN,55144,541715,C,Other,82308.238,106258.176,104995.534,76595.410,79174.000,79440.076,81855.400,80335.194,72407.026,76373.372